body{
     background-image: url('img/background.jpg');
     color: aliceblue;
}
.name{
    margin-bottom: 20px;
}
.age{
    margin-bottom: 20px;
}
.gender{
    margin-bottom: 20px;
}

.email{
    margin-bottom: 20px;
}
.select{
    margin-bottom: 20px;
}
.upload{
    margin-bottom: 20px;
}
.reset{
    margin-right: 60px;
    border-radius: 10px;
    width: 70px;
    height: 20px;
}
.submit{
    width: 70px;
    height: 25px;
    border-radius:10px ;
}